@use './variables' as *;

main{
    background-color: $dark;
    
    .jumbo{
        background-image: url(/public/jumbotron.jpg);
        height: 20rem;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    span{
        color:$primary;
    }

    .banner{
        background-color: $accent;

        img{
            height: 40px;
        }

        span{
            text-transform: uppercase;
            font-size: 0.7rem;
        }
    }
    

}